
<link href="../../style/find.css" rel="stylesheet" />

<div class="container">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-icon">
                <span><img src="../../img/Pizza.png" /></span>
            </div>
            <div class="info">
                <h4 class="text-center">Find a pizzeria!</h4>
                <form role="search" style="margin-top:45px;">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Zip Code" ng-model="zip">
                    </div>
                    <a class="btn btn-success" ng-href="#/home/find/zip={{zip}}">Find a pizzeria by Zip Code</a>
                </form>
                <form role="search" style="margin-top:45px;">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter City" ng-model="city">
                    </div>
                    <a class="btn btn-success" ng-href="#/home/find/city={{city}}">Find a pizzeria by City</a>
                </form>
                <form role="search" style="margin-top:45px;">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter name of pizzeria" ng-model="name">
                    </div>
                    <a class="btn btn-success" ng-href="#/home/find/name={{name}}">Find a pizzeria by Name</a>
                </form>
            </div>
        </div>
    </div>
</div>