<link href="../../style/photo.css" rel="stylesheet" />
<link href="../../bower_components/flexslider/flexslider.css" rel="stylesheet" />

<div class="container">


    <div class="col-xs-12">
        <div class="box">
            <div class="info">
                <h4 class="text-center">{{pizzeria.PizzeriaName}}</h4>
                <p>Submit a Photo</p>

                <div>
                    <input type="file" file-model="pizzeriaPhoto" />
                    <button ng-click="uploadPhoto()" class="btn btn-primary"><i class="fa fa-upload"></i> Upload Photo</button>
                </div>

                <div style="margin-top:25px;">
                    <flex-slider flex-slide="photo in pizzeria.Photos track by photo.PhotoId" min-items="2" max-items="2" mousewheel="true" item-width="100px" slideshow="false">
                        <li>
                            <img id ="flex-photo" ng-src="{{photo.PhotoURL}}">
                        </li>
                    </flex-slider>
                </div>

                <div>
                    <a class="btn btn-success" ng-href="#/home/find/name={{pizzeria.PizzeriaName}}">Go Back to Pizzeria</a>
                </div>
            </div>
        </div>
    </div>
</div>