<div class="container">

    <form>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchReview">
            </div>
        </div>
    </form>

    <table class="table-hover table-bordered">

        <thead>
            <tr>
                <th style="font-size:large; padding:5px">User Name</th>
                <th style="font-size:large; padding:5px">Pizzeria Name</th>
                <th style="font-size:large; padding:5px">Overall Rating</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="review in reviews | filter:searchReview">
                <td style="padding:5px">{{review.User.UserName}}</td>
                <td style="padding:5px">{{review.Pizzeria.PizzeriaName}}</td>
                <td style="padding:5px">{{review.OverallRating | number:1}}</td>
                <td>
                    <a class="btn btn-danger" ng-click="deleteReview(review)">Delete  <i class="fa fa-times"></i></a>
                </td>
            </tr>


        </tbody>
    </table>
</div>