<div class="container">
    <table class="table-hover table-bordered">

        <thead>
            <tr>
                <th style="font-size:large; padding:5px">Review ID</th>
                <th style="font-size:large; padding:5px">User Name</th>
                <th style="font-size:large; padding:5px">Pizzeria Name</th>
                <th style="font-size:large; padding:5px">Overall Rating</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="review in reviews">
                <td style="padding:5px">{{review.ReviewId}}</td>
                <td style="padding:5px">{{review.User.UserName}}</td>
                <td style="padding:5px">{{review.Pizzeria.PizzeriaName}}</td>
                <td style="padding:5px">{{review.OverallRating}}</td>
                <td>
                    <a class="btn btn-default" ng-href="#/app/leases/detail/{{lease.LeaseId}}">Edit</a>
                    <a class="btn btn-danger" ng-click="deletePizzeria(pizzeria)">Delete</a>
                </td>
            </tr>


        </tbody>
    </table>
</div>