 <!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color:black;"href="#/app/dashboard">PizzaMan Admin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/app/dashboard">Home</a></li>
                <li><a href="/#/app/pizzeria">Edit Pizzerias</a></li>
                <li><a href="/#/app/review">Edit Reviews</a></li>
                <li><a href="/#/app/photo">Edit Photos</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Pizzeria Data</a></li>
                        <li><a href="#">User Data</a></li>
                        <li><a href="#">Review Data</a></li>
                        <li><a href="#">Photo Data</a></li>

                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">             
                <li><a href="javascript:void(0);" ng-click="logout()">Log Out</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div ui-view></div>