.system-data {
    background-color:lavender;
    padding:20px;
    border:solid;
    border-color:black;
    margin-top:30px;
    
}

h4 {
    font-size:x-large;
}

p {
    font-size:large;
    text-align:center;
}

.center {
    text-align:center;
}