<link href="../../../style/dashboard.css" rel="stylesheet" />

<div class="container">
    <div class="center">
        <h1>SYSTEM WIDE DATA</h1>
    </div>

    <div class="col-sm-6">
        <div class="system-data">
            <div>
                <h4>Number of Total Users in System</h4>
                <p>{{usersCount}}</p>
            </div>

            <div>
                <h4>Number of Total Pizzerias in System</h4>
                <p>{{pizzeriasCount}}</p>
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="system-data">
            <div>
                <h4>Number of Total Reviews in System</h4>
                <p>{{reviewsCount}}</p>
            </div>

            <div>
                <h4>Number of Total Photos in System</h4>
                <p>{{photosCount}}</p>
            </div>
        </div>
    </div>

</div>


<div class="text-center">
    <h1>MOST RECENT PHOTO</h1>
    <p><a href="">Pizzeria Name</a></p>
    <img class="recent" src="http://localhost:57388/img/photo-1449785227466-10687c63e194.jpg" />

</div>