<link href="../../../style/dashboard.css" rel="stylesheet" />

<div class="container">
    <div class="center">
        <h1>System Wide Data</h1>
    </div>

    <div class="col-sm-6">
        <div class="system-data">
            <div>
                <h4>Number of Total Users in System</h4>
                <p>5,145</p>
            </div>

            <div>
                <h4>Number of Total Pizzerias in System</h4>
                <p>7,543</p>
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="system-data">
            <div>
                <h4>Number of Total Reviews in System</h4>
                <p>14,452</p>
            </div>

            <div>
                <h4>Number of Total Photos in System</h4>
                <p>6,145</p>
            </div>
        </div>
    </div>





</div>