<link href="../../style/pizzeria.css" rel="stylesheet" />

<div class="col-xs-12">
    <div class="box" ng-repeat="pizzeria in pizzerias">

        <div class="info" style="padding-bottom:45px;">
            <h4>{{pizzeria.PizzeriaName}}</h4>
        </div>

        <div style="padding-bottom:15px;">
            <p class="pizzeriaHeader">Address </p>
            <p class="pizzeriaParagraph">{{pizzeria.Address}} {{pizzeria.City}} {{pizzeria.State}} {{pizzeria.ZipCode}}</p>
        </div>


        <div style="padding-bottom:15px;">
            <p class="pizzeriaHeader">Phone Number </p>
            <p class="pizzeriaParagraph">{{pizzeria.PhoneNumber}}</p>
        </div>

        <div style="padding-bottom:15px;">
            <p class="pizzeriaHeader">Year Opened</p>
            <p class="pizzeriaParagraph">{{pizzeria.YearOpened}}</p>
        </div>

        <div style="padding-bottom:15px;">
            <p class="pizzeriaHeader">Style of Pizza</p>
            <p class="pizzeriaParagraph">{{pizzeria.Style}}</p>
        </div>

        <div style="padding-bottom:15px;">
            <p class="pizzeriaHeader">Description</p>
            <p class="pizzeriaParagraph">{{pizzeria.Description}}</p>
        </div>

        <div style="padding-bottom:15px;">
            <p class="pizzeriaHeader">Menu URL</p>
            <p class="pizzeriaParagraph">{{pizzeria.MenuURL}}</p>
        </div>

        <div style="padding-bottom:15px;">
            <p class="pizzeriaHeader">Offers Takeout?</p>
            <p class="pizzeriaParagraph">{{pizzeria.Takeout}}</p>
        </div>

        <div style="padding-bottom:15px;">
            <p class="pizzeriaHeader">Offers Sitdown Dining?</p>
            <p class="pizzeriaParagraph">{{pizzeria.Sitdown}}</p>
        </div>

        <div style="padding-bottom:15px;">
            <p class="pizzeriaHeader">Serves Alcohol?</p>
            <p class="pizzeriaParagraph">{{pizzeria.Alcohol}}</p>
        </div>

        <div style="padding-bottom:15px;">
            <p class="pizzeriaHeader">Offers Gluten-free Crust?</p>
            <p class="pizzeriaParagraph">{{pizzeria.GlutenFreeOption}}</p>
        </div>

        <div style="padding-bottom:15px;">
            <p class="pizzeriaHeader">Offers Vegan Options?</p>
            <p class="pizzeriaParagraph">{{pizzeria.VeganOption}}</p>
        </div>




    </div>

</div>
