
.box {
    border-radius: 3px;
    background-color:black;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: left;
    display: block;
    margin-top: 60px;
    opacity: .90;
}
.box-icon {
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    color:whitesmoke;
    text-shadow: 15px 9px 9px 9px #808080;
    padding-left: 10px;
    font-size: 32px;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
   

}

.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

.info > p {
    color: whitesmoke;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
    font-family: Nunito;
}

.recentPhoto {
    height:200px;
    width:200px;
}

.pizzeriaParagraph {
    text-align:center;
    font-size:larger;
    color:snow;

}

.pizzeriaHeader {
    text-align:center;
    color:white;
    font-size:x-large;
    text-shadow: 15px 9px 9px 9px #808080;
    text-decoration:underline;
    

}

#pizzeriaStars {
    text-align: center;
}

#reviews {
    padding-top: 10px;
    padding-bottom: 50px;
    text-align:center;
}

#reviewLabel {
    color:dimgrey;
}