<link href="../../../style/data.display.css" rel="stylesheet" />
<link href="../../../style/dashboard.css" rel="stylesheet" />

<div class="container">
    <label id="data-header">User Data</label>

    <div class="row">

        <div class="col-lg-5">
            <div class="system-data">
                <div>
                    <h4>Average Number of Reviews for Each User</h4>
                    <p>{{usersAvgNumReviews| number : 2}}</p>
                </div>
            </div>
        </div>


        <div class="col-lg-5 col-lg-offset-1">
            <div class="system-data">
                <div>
                    <h4>Average Number of Photos for Each User</h4>
                    <p>{{usersAvgNumPhotos| number : 2}}</p>
                </div>

            </div>
        </div>

        <div class="col-lg-5">
            <h2>Most Reviews</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed">
                    <thead>

                        <tr>
                            <th class="success" style="font-size:large; padding:5px">User Name</th>
                            <th class="success" style="font-size:large; padding:5px">Zip Code</th>
                            <th class="success" style="font-size:large; padding:5px">Number of Reviews</th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr ng-repeat="user in usersMostReviews">
                            <td style="padding:5px">{{user.UserName}}</td>
                            <td style="padding:5px">{{user.ZipCode}}</td>
                            <td class="active" style="padding:5px">{{user.NumberOfReviews}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-5 col-lg-offset-1">
            <h2>Most Photos</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed">
                    <thead>

                        <tr>
                            <th class="success" style="font-size:large; padding:5px">User Name</th>
                            <th class="success" style="font-size:large; padding:5px">Zip Code</th>
                            <th class="success" style="font-size:large; padding:5px">Number of Photos</th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr ng-repeat="user in usersMostPhotos">
                            <td style="padding:5px">{{user.UserName}}</td>
                            <td style="padding:5px">{{user.ZipCode}}</td>
                            <td class="active" style="padding:5px">{{user.NumberOfPhotos}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="row" style="margin-top:50px;">

        <div class="col-lg-4 col-lg-offset-4">
            <label id="data-header">Search by Zip Code</label>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchUsers">
                    </div>
                </div>
            </form>

            <table class="table-hover table-bordered" style="margin-bottom:1000px;">
                <thead>
                    <tr>
                        <th style="font-size:large; padding:5px">User Name</th>
                        <th style="font-size:large; padding:5px">Zip Code</th>

                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="user in users | filter:searchUsers">
                        <td style="padding:5px">{{user.UserName}}</td>
                        <td style="padding:5px">{{user.ZipCode}}</td>

                </tbody>
            </table>
        </div>
    </div>

</div>
