<div class="container">
    <a class="btn btn-success" style="margin-bottom:15px" ng-href="">Create Pizzeria</a>

    <form>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchPizzeria">
            </div>
        </div>
    </form>

    <table class="table-hover table-bordered">
        <thead>
            <tr>
                <th style="font-size:large; padding:5px">Pizzeria Name</th>
                <th style="font-size:large; padding:5px">City</th>
                <th style="font-size:large; padding:5px">Zip Code</th>
                <th style="font-size:large; padding:5px">Phone Number</th>
                <th style="font-size:large; padding:5px">Year Opened</th>
                <th style="font-size:large; padding:5px">Average Rating</th>
                <th style="font-size:large; padding:5px">Number of Reviews</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="pizzeria in pizzerias | filter:searchPizzeria">
                <td style="padding:5px">{{pizzeria.PizzeriaName}}</td>
                <td style="padding:5px">{{pizzeria.City}}</td>
                <td style="padding:5px">{{pizzeria.ZipCode}}</td>
                <td style="padding:5px">{{pizzeria.PhoneNumber}}</td>
                <td style="padding:5px">{{pizzeria.YearOpened}}</td>
                <td style="padding:5px">{{pizzeria.AverageRating}}</td>
                <td style="padding:5px">{{pizzeria.NumberOfReviews}}</td>
                <td>
                    <a class="btn btn-default" ng-href="#/app/pizzeria/edit/id={{pizzeria.PizzeriaId}}">Edit  <i class="fa fa-pencil-square-o"></i></a>
                    <a class="btn btn-danger" ng-click="deletePizzeria(pizzeria)">Delete  <i class="fa fa-times"></i></a>
                </td>
            </tr>


        </tbody>
    </table>
</div>