<link href="../../../style/data.display.css" rel="stylesheet" />
<link href="../../../style/dashboard.css" rel="stylesheet" />

<div class="container">
        <label id="data-header">Pizzeria Data</label>
 
    <div class="row">

        <!--<div class="col-lg-5">
            <div class="system-data">
                <div>
                    <h4>Average Number of Reviews for Each Pizzeria</h4>
                    <p>{{avgNumReviews| number : 2}}</p>
                </div>
            </div>
        </div>


        <div class="col-lg-5 col-lg-offset-1">
            <div class="system-data">
                <div>
                    <h4>Average Overall Rating for Each Pizzeria</h4>
                    <p>{{avgRating| number : 2}}</p>
                </div>

            </div>
        </div>-->

        <div class="col-lg-5">
            <div class="system-data">
                <div>
                    <h4>Percentage of Pizzerias That Offer Delivery</h4>
                    <p>{{percentDelivery}}%</p>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-lg-offset-1">
            <div class="system-data">
                <div>
                    <h4>Percentage of Pizzerias That Serve Alcohol</h4>
                    <p>{{percentAlcohol}}%</p>
                </div>

            </div>
        </div>

        <div class="col-lg-5">
            <div class="system-data">
                <div>
                    <h4>Percentage of Pizzerias That Have Gluten Free Options</h4>
                    <p>{{percentGlutenFree}}%</p>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-lg-offset-1">
            <div class="system-data">
                <div>
                    <h4>Percentage of Pizzerias That Have Vegan Options</h4>
                    <p>{{percentVegan}}%</p>
                </div>

            </div>
        </div>


        <div class="col-lg-5">
            <h2>Most Reviews</h2>
            <div class="table-responsive" >
                <table class="table table-bordered table-condensed">
                    <thead>

                        <tr>
                            <th class="success" style="font-size:large; padding:5px">Pizzeria Name</th>
                            <th class="success" style="font-size:large; padding:5px">Zip Code</th>
                            <th class="success" style="font-size:large; padding:5px">Average Rating</th>
                            <th class="success" style="font-size:large; padding:5px">Number of Reviews</th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr ng-repeat="pizzeria in pizzeriaMostReviews">
                            <td style="padding:5px">{{pizzeria.PizzeriaName}}</td>
                            <td style="padding:5px">{{pizzeria.ZipCode}}</td>
                            <td style="padding:5px">{{pizzeria.AverageRating}}</td>
                            <td class="active" style="padding:5px">{{pizzeria.NumberOfReviews}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-5 col-lg-offset-1">
            <h2>Highest Average Rating</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed">
                    <thead>

                        <tr>
                            <th class="success" style="font-size:large; padding:5px">Pizzeria Name</th>
                            <th class="success" style="font-size:large; padding:5px">Zip Code</th>
                            <th class="success" style="font-size:large; padding:5px">Average Rating</th>
                            <th class="success" style="font-size:large; padding:5px">Number of Reviews</th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr ng-repeat="pizzeria in pizzeriaHighestRated">
                            <td style="padding:5px">{{pizzeria.PizzeriaName}}</td>
                            <td style="padding:5px">{{pizzeria.ZipCode}}</td>
                            <td class="active" style="padding:5px">{{pizzeria.AverageRating}}</td>
                            <td style="padding:5px">{{pizzeria.NumberOfReviews}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-lg-5">
            <h2>Oldest Pizzerias</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed">
                    <thead>

                        <tr>
                            <th class="success" style="font-size:large; padding:5px">Pizzeria Name</th>
                            <th class="success" style="font-size:large; padding:5px">Zip Code</th>
                            <th class="success" style="font-size:large; padding:5px">Average Rating</th>
                            <th class="success" style="font-size:large; padding:5px">Year Opened</th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr ng-repeat="pizzeria in pizzeriaOldest">
                            <td style="padding:5px">{{pizzeria.PizzeriaName}}</td>
                            <td style="padding:5px">{{pizzeria.ZipCode}}</td>
                            <td style="padding:5px">{{pizzeria.AverageRating}}</td>
                            <td class="active" style="padding:5px">{{pizzeria.YearOpened}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-lg-5 col-lg-offset-1">
            <h2>Highest Rated Delivery</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed">
                    <thead>

                        <tr>
                            <th class="success" style="font-size:large; padding:5px">Pizzeria Name</th>
                            <th class="success" style="font-size:large; padding:5px">Zip Code</th>
                            <th class="success" style="font-size:large; padding:5px">Average Rating</th>
                            <th class="success" style="font-size:large; padding:5px">Number of Reviews</th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr ng-repeat="pizzeria in pizzeriaHighestRatedDelivery">
                            <td style="padding:5px">{{pizzeria.PizzeriaName}}</td>
                            <td style="padding:5px">{{pizzeria.ZipCode}}</td>
                            <td class="active" style="padding:5px">{{pizzeria.AverageRating}}</td>
                            <td style="padding:5px">{{pizzeria.NumberOfReviews}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-5">
            <h2>Highest Rated Sitdown</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed">
                    <thead>

                        <tr>
                            <th class="success" style="font-size:large; padding:5px">Pizzeria Name</th>
                            <th class="success" style="font-size:large; padding:5px">Zip Code</th>
                            <th class="success" style="font-size:large; padding:5px">Average Rating</th>
                            <th class="success" style="font-size:large; padding:5px">Number of Reviews</th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr ng-repeat="pizzeria in pizzeriaHighestRatedSitdown">
                            <td style="padding:5px">{{pizzeria.PizzeriaName}}</td>
                            <td style="padding:5px">{{pizzeria.ZipCode}}</td>
                            <td class="active" style="padding:5px">{{pizzeria.AverageRating}}</td>
                            <td style="padding:5px">{{pizzeria.NumberOfReviews}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-5 col-lg-offset-1">
            <h2>Highest Rated Gluten Free</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed">
                    <thead>

                        <tr>
                            <th class="success" style="font-size:large; padding:5px">Pizzeria Name</th>
                            <th class="success" style="font-size:large; padding:5px">Zip Code</th>
                            <th class="success" style="font-size:large; padding:5px">Average Rating</th>
                            <th class="success" style="font-size:large; padding:5px">Number of Reviews</th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr ng-repeat="pizzeria in pizzeriaHighestRatedGlutenFree">
                            <td style="padding:5px">{{pizzeria.PizzeriaName}}</td>
                            <td style="padding:5px">{{pizzeria.ZipCode}}</td>
                            <td class="active" style="padding:5px">{{pizzeria.AverageRating}}</td>
                            <td style="padding:5px">{{pizzeria.NumberOfReviews}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
