<link href="../../style/dashboard.css" rel="stylesheet" />

<div class="container">


    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="box">
            <div class="box-icon">
                <span><img src="../../img/Pizza.png" /></span>
            </div>
            <div class="info">
                <h4 class="text-center">PizzaMan</h4>
                <p id="slogan">A home for Pizza lovers</p>
                <!--<img src="../../img/pizza-eat.jpg" class="img-rounded center-block" alt="Pizza lover" width="275">-->
                <form role="search" style="margin-top:30px">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Zip Code" ng-model="zip">
                    </div>
                    <a class="btn btn-success" ng-href="#/home/find/zip={{zip}}" style="margin-bottom:13px; margin-top:10px;">Find a pizzeria</a>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="box">
            <div class="box-icon">
                <span><img class="recentPhoto" src="{{review.Pizzeria.Photos[0].PhotoURL}}" /></span>
            </div>
            <div class="info">
                <h4 class="text-center" style="margin-bottom:20px;">Recently Reviewed</h4>
                <h4 id="pizzeria-review-label">{{review.Pizzeria.PizzeriaName}}</h4>

                <!--<div ng-repeat="aspect in review.AspectRatings">
                    <label class="reviewLabel">{{aspect.Aspect.Name}}</label>
                    <div class="form-group">
                        <input-stars max="5" ng-model="aspect.Rating" readonly="true"></input-stars>
                    </div>
                </div>-->

                <label class="reviewLabel">Overall Rating</label>
                <div class="form-group">
                    <input-stars max="5" ng-model="review.OverallRating" readonly="true"></input-stars>
                </div>
                <a class="btn btn-success" ng-href="#/home/find/name={{review.Pizzeria.PizzeriaName}}">Link</a>
            </div>
        </div>
    </div>

</div>


