<link href="../../style/login.css" rel="stylesheet" />

<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form">

                        <div class="form-group">
                            <input name="userName"  class="form-control input-sm" placeholder="User Name" ng-model="loginData.username">
                        </div>

                       
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" ng-model="loginData.password">
                            </div>
                  

                        <input type="submit" value="Sign In" class="btn btn-default btn-block" ng-click="login()">

                    </form>
                    <p></p>
                    <p>Don't have an account?</p>
                    <a href="#/home/register">Sign Up!</a>
                </div>
            </div>
        </div>
    </div>
</div>