<link href="../../style/review.css" rel="stylesheet" />


<div class="container">
    <div class="col-xs-12">
        <div class="box">

            <div class="info" style="padding-bottom:35px;">
                <h4 class="text-center">Review {{pizzeria.PizzeriaName}}</h4>
            </div>

            <div ng-repeat="aspect in newReview.AspectRatings">
                <label for="input-1" class="control-label" id="reviewLabel">{{aspect.Name}}</label>
                <div class="form-group">
                    <input-stars max="5" ng-model="aspect.Rating"></input-stars>
                </div>
            </div>

            <button class="btn-lg btn-success" ng-click="createReview()">Submit Review</button>

        </div>
    </div>

</div>



