<link href="../../style/dashboard.css" rel="stylesheet" />

<div class="container">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-icon">
                <span><img src="../../img/Pizza.png" /></span>
            </div>
            <div class="info">
                <h4 class="text-center">SUBMIT A PIZZERIA!</h4>
            </div>
        </div>
    </div>



    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="box">
            <div class="form-group">
                <label class="pull-left text-success">Pizzeria Name</label>
                <input type="text" class="form-control" placeholder="Enter name of Pizzeria" ng-model="newPizzeria.PizzeriaName">
            </div>

            <div class="form-group">
                <label class="pull-left text-success">Street Address</label>
                <input type="text" class="form-control" placeholder="Enter street address" ng-model="newPizzeria.Address">
            </div>

            <div class="form-group">
                <label class="pull-left text-success">City</label>
                <input type="text" class="form-control" placeholder="Enter city" ng-model="newPizzeria.City">
            </div>

            <div class="form-group">
                <label class="pull-left text-success">State</label>
                <input type="text" class="form-control" placeholder="Enter state" ng-model="newPizzeria.State">
            </div>

            <div class="form-group">
                <label class="pull-left text-success">Zip Code</label>
                <input type="text" class="form-control" placeholder="Enter zip code" ng-model="newPizzeria.ZipCode">
            </div>

            <div class="form-group">
                <label class="pull-left text-success">Year Opened</label>
                <input type="text" class="form-control" placeholder="Enter year opened" ng-model="newPizzeria.YearOpened">
            </div>

            <div class="form-group">
                <label class="pull-left text-success">Phone Number</label>
                <input type="text" class="form-control" placeholder="Enter phone number" ng-model="newPizzeria.PhoneNumber">
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="box">

            <div class="form-group">
                <label class="pull-left text-success">Style of pizza</label>
                <input type="text" class="form-control" placeholder="Ex. New York, Chicago, American, Italian..." ng-model="newPizzeria.Style">
            </div>

            <div class="form-group">
                <label class="pull-left text-success">Menu URL</label>
                <input type="text" class="form-control" placeholder="Enter a URL for the menu if available..." ng-model="newPizzeria.MenuURL">
            </div>

            <div class="form-group">
                <label class="pull-left text-success">Description</label>
                <textarea id="inputTextMessage" class="form-control" placeholder="Enter a brief description of the pizzeria" style="height:107px; resize:none;" ng-model="newPizzeria.Description"></textarea>
            </div>

            <div class="form-group">
                <label class="pull-left text-success">Offers takeout?</label>
                <input type="checkbox" aria-label="..." ng-model="newPizzeria.Takeout">
            </div>

            <div class="form-group">
                <label class="pull-left text-success">Offers delivery?</label>
                <input type="checkbox" aria-label="..." ng-model="newPizzeria.Delivery" />
            </div>        

            <div class="form-group">
                <label class="pull-left text-success">Offers sitdown dining?</label>
                <input type="checkbox" aria-label="..." ng-model="newPizzeria.Sitdown">
            </div>

            <div class="form-group">
                <label class="pull-left text-success">Serves Alcohol?</label>
                <input type="checkbox" aria-label="..." ng-model="newPizzeria.Alcohol">
            </div>

            <div class="form-group">
                <label class="pull-left text-success">Offers gluten-free crust?</label>
                <input type="checkbox" aria-label="..." ng-model="newPizzeria.GlutenFreeOption" />
            </div>

            <div class="form-group">
                <label class="pull-left text-success">Offers vegan options?</label>
                <input type="checkbox" aria-label="..." ng-model="newPizzeria.VeganOption" />
            </div>        



        </div>
    </div>



    <div class="container">
        <div class="col-xs-12" style="margin-top:30px; margin-bottom:30px;">
            <button class="btn-lg btn-success center-block" ng-click="createPizzeria()">Submit Pizzeria</button>
        </div>


    </div>

</div>